buttons: <br>
<button id="dummy" (click)="0">dummy</button>
<button id="timeout" (click)="tm()">time out</button>
<button id="timeout2" (click)="tm2()">time out2</button><br>

<button id="load" (click)="loadStudies()">load studies</button>
<button id="reload" (click)="reload()">reload studies</button><br>

<button id="add" (click)="add()">add studies</button> <input type="text" [(ngModel)]="id"><br>
<button id="update" (click)="set()">update studies</button> <input type="text" [(ngModel)]="id"><input type="text" [(ngModel)]="nn"><br>

<p>{{ check()}}</p>
